@use '../base/variables' as *;

.header {
    max-width: 70rem;
    width: 90%;
    @media (max-width: 900px) {
        height: 6rem;
    }
    @media (min-width: 900px) {
        width: 90%;
        height: 9.625rem;
    }
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


.logo:hover {
    cursor: pointer;
}

.header-links {
    list-style: none;
    @media (max-width: 600px) {
        display: none;
    }
    display: flex;
    gap: 2rem;
    a {
        color: $black;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }
}

.header-burger {
    @media (min-width: 600px) {
        display: none;
    }
    @media (max-width: 600px) {  
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: .375rem;
        &:hover {
            cursor: pointer;
        }
    }
}


.menu {
    display: none;
}

.menu.active {
    position: fixed;
    top: 6rem;
    height: 14.75rem;
    padding: 0 0 0 2rem;
    width: 100%;
    margin-left: -5%;
    gap: 2rem;
    list-style: none;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    a {
        font-size: 1.5rem;
        color: $white;
        text-transform: uppercase;
    }
}
