.design-app {
    background-image: url('../../assets/home/desktop/image-app-design.jpg');
    @media (max-width: 900px) { height: 12.5rem; }
}

.design-graphic {
    background-image: url('../../assets/home/desktop/image-graphic-design.jpg');
    @media (max-width: 900px) { height: 12.5rem; }
}

.design-web {
    background-image: url('../../assets/home/desktop/image-web-design-small.jpg');
    @media (max-width: 900px) { height: 12.5rem; }
}